@font-face {
  font-family: "NormalCond";
  src: url("../fonts/InterstateCond_0.ttf");
}
@font-face {
  font-family: "GrasCond";
  src: url("../fonts/InterstateCondBlack_0.ttf");
}

@font-face {
  font-family: "Gras";
  src: url("../fonts/InterstateBlack_0.ttf");
}

@font-face {
  font-family: "JoseFin";
  src: url("../fonts/JosefinSans-Thin.ttf");
}

@font-face {
  font-family: "JoseNormal";
  src: url("../fonts/JosefinSans-Regular.ttf");
}

@font-face {
  font-family: "JoseGras";
  src: url("../fonts/JosefinSans-Bold.ttf");
}

@font-face {
  font-family: "HelvetiK";
  src: url("../fonts/HelveticaNeueLTStd-Cn.otf");
}

@font-face {
  font-family: "HelvetiGras";
  src: url("../fonts/HelveticaNeueLTStd-XBlkCn.otf");
}

@font-face {
  font-family: "HelvetiKM";
  src: url("../fonts/HelveticaNeueLTStd-MdCn.otf");
}

@font-face {
  font-family: "HelvetiKG";
  src: url("../fonts/HelveticaLTStd-BoldCond.otf");
}



p{
  font-size: 80px;
  margin:0;
  text-align: center;
  font-family:"HelvetiGras"
}

table{margin:0}

table, td, tr {
  border-style: solid;
  width:70%;
  height:50px;
  margin:auto;
  table-layout: fixed;
  text-align: center;
  border-collapse: collapse;
  border-width: 4px;
  font-family: "HelvetiKG",sans-serif;
}

input{
  -moz-appearance: textfield;
  border-style: none;
  background-color: white;
  color:black;
  text-align: center;
  height:70%;
  width:70%;
  font-size: 20px;
}

 span{  display: flex;
   width:70%;
   height:100%;
   justify-content: center;
   align-items:center;}

th{
  background-color: black;
  color:white;
  height:100%;
  width:100%;
}

th > p{
  font-family:"HelvetiK";
  font-size: 12px;
  margin:8px auto;
  text-align: left;
}

.x{
  background-color: red;
}

.figures{
  width:60px;
}

.foiX{
  display:flex;
  flex-wrap: wrap;
}

.foiX > div {
  font-size: 20px;
  flex-wrap: wrap;
  align-items: center;
  width:30.4%;
  background-color: lightgray;
  margin:2px;
  height:100%;
}

img{
  object-fit:contain;
  width:100%;
}

.soustotal{
font-size: 12px;
height:0px;
background-color: lightgray;
}
.pS, .gS, .F, .C, .Y, .B{
  display: flex;
  width:80%;
  height:100%;
  justify-content: center;
  align-items:center;
  font-size: 30px;
  font-family: "HelvetiKM";
}

.Y:hover{
background-color: yellow;
cursor: pointer;
}

.C:hover{
background-color: yellow;
cursor: pointer;
}

.F:hover{
background-color: yellow;
cursor: pointer;
}

.gS:hover{
background-color: yellow;
cursor: pointer;
}

.pS:hover{
background-color: yellow;
cursor: pointer;
}

.zero:hover{
  background-color: red;
  cursor: pointer;
}

.case{display:flex;
  height:100%;}

  .zero{
    display: flex;
    width:20%;
    height:100%;
    justify-content: center;
    align-items:center;
  }

  .check{
    background-color: lightgreen;
    width:100%;
  }

  .nulos{
    background-color:lightpink;
    width:100%;
  }

  @media screen and (max-width:800px){

    table{width:100%;}

  .foiX > div{
    width:100%;
    font-size: 20px;
  }

  .pS, .gS, .F, .C, .Y, .B{
    width:100%;
  }

.huh{
  font-size: 30px;
}

.B{
  background-color: lightgray;
}

.sT{width:90%;}

.T{background-color:black;
    color:white;
  width:100%;
height:100%;
font-family: "HelvetiGras";
font-size:30px;}

  .zero{
    width:100%;
    height:100%;
    font-size: 17px;
  }

  .cancel1x2{width:100%;height:100%;background-color:blue}
